<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Cafes</title>

	<link href="../static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/b4f9c1069d.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../static/css/styles.css"> 
	<link rel="stylesheet" href="../static/css/headers.css"> 
</head>
<body>
    

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
      <div class="col-6 align-baseline">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <i class="fa-solid fa-mug-hot fa-2xl" style="color: #644816;"></i>
        </a>
      </div>
      {% if not current_user.is_authenticated: %}
      <div class="col-6 text-right align-baseline">
        <a type="button" class="btn btn-outline-primary" href="{{url_for('login')}}">Login</a>
      </div>
      {% else: %}
      <a type="button" class="btn btn-outline-primary" href="{{url_for('logout')}}">Logout</a>
      {% endif %}
    </header>
  </div>