<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Cafes</title>

	<link href="../static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/b4f9c1069d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles.css"> 
	<link rel="stylesheet" href="../static/css/headers.css"> 
</head>
<body>
    

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
      <div class="col-6 align-baseline">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <i class="fa-solid fa-mug-hot fa-2xl" style="color: #644816;"></i>
        </a>
      </div>
      {% if not current_user.is_authenticated: %}
      <div class="col-6 text-right align-baseline">
        <a type="button" class="btn btn-outline-primary" href="{{url_for('login')}}">Login</a>
      </div>
      {% else: %}
      <a type="button" class="btn btn-outline-primary" href="{{url_for('logout')}}">Logout</a>
      {% endif %}
    </header>
  </div>

<!-- Contenedor de Cards para Cafes -->
<div class="container">
    <div class="row p-3">
        <div class="col-10 p-3">
            <div class="">
                <div class="btn-group">
                    <button class="btn btn-info" id="list">
                        List View
                    </button>
                    <button class="btn btn-light" id="grid">
                        Grid View
                    </button>
                </div>
            </div>
        </div>
		<div class="col-2 p-3 my-2 text-right">
		    <a href="/add" class="d-inline-flex link-body-emphasis text-decoration-none">
                <i class="fa-solid fa-circle-plus fa-2xl" style="color: #644816;"></i> 
            </a>
		</div> 
    <div id="products" class="row view-group">
		{% for cafe in cafes: %}
				<div class="item col-md-4 col-xs-12 list-group-item">
                    <div class="thumbnail card">
                        <div class="img-event">
                            <img class="group list-group-image img-fluid" src="{{cafe.img_url}}" alt="" />
                        </div>
                        <div class="container caption card-body">
                            <div class="row">
                                <h4 class="col-12 group card-title inner list-group-item-heading">
                                    {{cafe.name}}</h4>
                                <p class="col-12 group inner list-group-item-text">
                                    Seats: {{cafe.seats}}</p>
                                <p class="col-12 group inner list-group-item-text">
                                    Commodities: {%if cafe.has_toilet:%}{{"🚽 "}}{%endif%} {%if cafe.has_wifi:%}{{"📶 "}}{%endif%} {%if cafe.has_sockets:%}{{"🔌 "}}{%endif%}</p>
                            </div>
                            <div class="row">
                                <div class="col-6 align-bottom">
                                    <p class="lead">
                                        Coffee Price: {{cafe.coffee_price}}</p>
                                </div>
                                <div class="col-6 text-right align-bottom">
                                    <a class="btn btn-outline-info" href="/cafes/{{cafe.id}}">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		{% endfor %}
		</div>
	</div>
</div>

</body>
</html>

<script>
$(document).ready(function() {
	$('#list').click(function(event){
        event.preventDefault();
        $('#products .item').addClass('list-group-item');
        $('#grid').removeClass('btn-info');
        $('#grid').addClass('btn-light');
        $('#list').removeClass('btn-light');
        $('#list').addClass('btn-info');
    });
	$('#grid').click(function(event){
        event.preventDefault();
        $('#products .item').removeClass('list-group-item');
        $('#products .item').addClass('grid-group-item');
        $('#list').removeClass('btn-info');
        $('#list').addClass('btn-light');
        $('#grid').removeClass('btn-light');
        $('#grid').addClass('btn-info');
    });
});
</script>